<section id="avis">

    <style>
        #avis{
            width: 60vw;
        }

        .avisTitre{
            font-size: 60px;
            margin-bottom: 30px;
        }

        .nomListe{
            font-size: 24px;
        }

        .liste{
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 40px;
        }

    </style>

    <div class="avisTitre">Notre avis</div>
    <div class="nomListe">Les plus</div>
    <div class="liste">
        <ul>
            <template x-for="lesplus in item.lesplus">
              <li x-text="lesplus"></li>
            </template>
          </ul>
    </div>
    <div class="nomListe">Les moins</div>
    <div class="liste">
        <ul>
            <template x-for="lesmoins in item.lesmoins">
              <li x-text="lesmoins"></li>
            </template>
          </ul>
    </div>
    <div class="nomListe">Mon Conseil</div>
    <div class="liste">
        <ul>
            <template x-for="conseils in item.conseils">
              <li x-text="conseils"></li>
            </template>
          </ul>
    </div>
</section>