<div id="bouton" onclick="location.href='/leblogvoyage/vue/home.html'">
    <style>
        #bouton{
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px black;
            width: 150px;
            height: 150px;
            background-color: #C96B41;
            position: absolute;
            right: 0;
            top: 550px;
        }

        #fleche{
            
            width: 50px;
            height: 50px;
        }

        @media screen and (max-width: 769px) {
        #bouton{
            width: 74px;
            height: 74px;
            top: 70px;
        }}
    </style>

    <img id="fleche" src="../images/icon.png" alt="">

</div>