<footer>
    <style>
        footer{
            display: flex;
            justify-content: center;
            align-items:flex-end;
            height: 10em;
            /* position:absolute;
            bottom: 0; */
            z-index: -1;
            width: 100%;
            background-color: aqua;
        }
    </style>
    <h2 x-text="foot"></h2>
</footer>