<section id="grille3" >

  <style>
    #grille3{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: blue;
        width: 60vw;
    }

    .card{
        background-color: blueviolet;
        margin: 1em auto;
        width: 150px;
        height: 60px;
    }

  </style>

    <!-- <template x-for="image in item.image"> -->
        <div class="card" x-text="image"></div>
        <div class="card" x-text="image"></div>
        <div class="card" x-text="image"></div>
        <div class="card" x-text="image"></div>
    <!-- </template> -->
</section>