<header>
    <style>
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #EEDFD4;
    
    }

    @media screen and (min-width: 769px) {
        header{
            transform-origin: 0 0;
    transform: rotate(-90deg);
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vh;
    flex-direction: row-reverse;
        }}


/* @media (min-width: 700rem) {
  header {
    transform: rotate(0deg);
  }
} */

.gold{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: yellow 1px solid;
    width: 200px;
}

.silver{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: black 1px solid;
    width: 100px;
}

    </style>
    <div class="gold">
        <h2 x-text="title"></h2>
    </div>
    <div x-text="temperature" class="silver"></div>
</header>