<div class="grandePhoto">

    <style>
        .grandePhoto{
            
            display: flex;
            align-items: end;
            border: solid 1px black;
            height: 15vw;
            width: 24vw;
            background-image: url(https://www.votrevoyage.fr/templates/images/avis-clients/15979138415f3e3af10185c.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .bandeau{
            display: flex;
            justify-content: space-around;
            border: solid 1px black;
            background-color: #C96B41;
            opacity: 80%;
            height: 30px;
            width: 100%;     
        }
    </style>
    <div class="bandeau">
        <div x-text="lieu" class="lieu"></div>
        <div x-text="date" class="date">date</div>
    </div>

</div>