<div class="resume">
    <style>
        .resume{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 60vw;
            margin: 100px 0 70px 0;
        }

        .titreResume{
            display: flex;
            align-items: flex-start;
            font-size: 60px;
            margin-bottom: 30px;
        }

        .description{
            font-size: 20px;
            background-color: #C96B41;
            color: white;
            padding: 35px 50px 35px 50px;
        }
    </style>


    <div class="titreResume" x-text="titreResume"></div>
    <div class="description">
        <p x-text="paraph1">
        </p>
        <p x-text="paraph2">
        </p>
    </div>
</div>