body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em auto;
}

section{
    margin-top: 150px;
}

.grille{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    background-color: pink;
    width: 50vw;
}
article{
    background-color: blueviolet;
}





/* 
@keyframes rotation {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  } */

